html {
  font-family: Ubuntu;
}

body{
  margin-top: 50px;
  width: 100%;
  background-color: dodgerblue;
  text-align: center;
}

#header {
    color: black;
    text-align: center;
    z-index: 4;
    position: relative;
    top: 0px;
    bottom:10px;
    height: 150px;
    width: 100%;
    background-color: hsla(360, 51%, 89%, 1);
    grid-area: 1/1/1/1;
}

.main {
  height: 1900px;
  background-color: hsla(360, 11%, 91%, 1);
  z-index: 4;
  position: relative;
  width: 90%;
  display: inline-block;
  text-align: center;
  margin-top: 500px;
}

.main h1 {
  font-size: 3.5rem;
}

.main p {
  font-size: 1.5rem;
  margin-left: 300px;
  margin-right: 300px;
}

.links {
  text-align: center;
  display: grid;
  z-index: 3;
  width: 90%;
  height: 1000px;
  grid-template: repeat(6, 1fr) / 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-decoration: none;
}

.a {
  z-index: 4;
  grid-area: 2 / 1 / 2 / 1;
  color: black;
  background-color: white;
}

.a:hover {
  background-color: lightgrey;
}

.b {
  z-index: 4;
  grid-area: 3 / 1 / 3 / 1;
  color: black;
  background-color: hsla(301, 100%, 50%, 1);
}

.b:hover {
  background-color: hsla(301, 100%, 70%, 1);
}

.c {
  z-index: 4;
  grid-area: 4 / 1 / 4 / 1;
  color: black;
  background-color: hsla(81, 100%, 41%, 1);
}

.c:hover {
  background-color: hsla(81, 100%, 59%, 1);
}

.d {
  z-index: 4;
  grid-area: 5 / 1 / 5 / 1;
  color: black;
  background-color: hsla(53, 100%, 51%, 1);
}

.d:hover {
  background-color: hsla(53, 100%, 71%, 1);
}

.e {
  z-index: 4;
  grid-area: 6 / 1 / 6 / 1;
  color: black;
  background-color: hsla(179, 100%, 45%, 1);
}

.e:hover {
  background-color: hsla(179, 100%, 65%, 1);
}

img.selfie {
    top: -150px;
    width: 100%;
    z-index: 0;
    position: fixed;
    overflow: hidden;
    height: auto;
    left: 0;
}

img.example {
  overflow: hidden;
  width: inherit;
  position: relative;
  top: 50px;
}
