#mainText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  font-family: "Aleo", serif;
}

#header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-around;
  align-items: center;
  height: 5%;
  font-family: "Aleo", serif;
  background-color: black;
  opacity: 0.8;
}

#inviteText {
  background-color: black;
  opacity: 0.3;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  border-radius: 15px;
}

html, body {
  height: 100%;
  background-image: url("newbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding-bottom: 50px;
}

#mainTitle {
  order: 1;
  color: white;
  opacity: 0.3;
  justify-self: center;
}

#subTitle {
  order: 2;
  background-color: white;
  font-size: 2em;
  padding: 15px;
  color: black;
  opacity: 0.3;
  border-radius: 5px;
}

.topButton {
  color: white;
}
