@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

* {
  background: black;
  font-family: "Baloo Chettan";
  color: white;
}

body {
  display: grid;
  margin: 0px;
  grid-template-rows: 10vh, auto;
}

header, header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

#game {
  width: 100%;
  height: 80vh;
}
